{% extends 'base.html.twig' %}

{% block body %}
    <div class="example-wrapper">
        <h1>Bienvenue sur SnowTricks !</h1>
        {% if app.user and app.user.isVerified %}
            <p>
                <a class="btn btn-primary btn-sm" href="{{ path('tricks.create') }}">Créer un Tricks</a>
            </p>
        {% endif %}

        <table  class="table">
            <thead>
            <tr>
                <th>Titre</th>
                {% if app.user and app.user.isVerified %}
                    <th>Actions</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for trick in tricks %}
                <tr>
                    <td>
                        <a href="{{ path('tricks.show', {id: trick.id, slug: trick.slug}) }}">{{ trick.title }}</a>
                    </td>
                    {% if app.user and app.user.isVerified %}
                        <td>
                            <div class="d-flex gap-1">
                                <a class="btn btn-primary btn-sm" href="{{ path('tricks.edit', {id: trick.id}) }}">Éditer</a>
                                <form action="{{ path('tricks.delete', {id: trick.id}) }}"
                                      method="post"
                                      onsubmit="return confirm('Êtes-vous sûr ?');">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                                </form>
                            </div>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
