{% extends 'base.html.twig' %}

{% block body %}
    <div class="example-wrapper">
        <h1>Hello John! ✅</h1>
        <p>This friendly message is coming from the tricks !</p>
        <p>
            <a class="btn btn-primary btn-sm" href="{{ path('tricks.create') }}">Créer un Tricks</a>
        </p>

        <table  class="table">
            <thead>
            <tr>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for trick in tricks %}
                <tr>
                    <td>
                        <a href="{{ path('tricks.show', {id: trick.id, slug: trick.slug}) }}">{{ trick.title }}</a>
                    </td>
                    <td>
                        <div class="d-flex gap-1">
                            <a class="btn btn-primary btn-sm" href="{{ path('tricks.edit', {id: trick.id}) }}">Éditer</a>
                            <form action="{{ path('tricks.delete', {id: trick.id}) }}" method="post">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
