<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title "SnowTricks" %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="bg-blue-500 p-4">
            <div class="mx-auto flex justify-between items-center">
                <a class="text-white text-xl font-bold" href="{{ path('homepage') }}">SnowTricks</a>
                <div>
                    <ul class="flex space-x-4">
                        <li>
                            <a class="text-white" href="{{ path('homepage') }}">Accueil</a>
                        </li>
                    {% if app.user %}
                        <li>
                            <a class="text-white" href="{{ path('logout') }}">Déconnexion</a>
                        </li>
                        {% if not app.user.isVerified %}
                            <div class="flex items-center space-x-2 text-white">
                                <p>Votre compte n'est pas encore validé</p>
                                <a class="underline" href="{{ path('resend_verification_email') }}">
                                    Renvoyer l'email de confirmation
                                </a>
                            </div>
                        {% endif %}
                    {% else %}
                        <li>
                            <a class="text-white {{ app.current_route == 'register' ? 'underline font-bold' : '' }}"
                               href="{{ path('register') }}">Inscription</a>
                        </li>
                        <li>
                            <a class="text-white {{ app.current_route == 'login' ? 'underline font-bold' : '' }}"
                               href="{{ path('login') }}">Connexion</a>
                        </li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <div>
            {% include 'partials/flash.html.twig' %}
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
