{% if tricks.comments|length > 0 %}

    {% for comment in tricks.comments %}

        {{ comment.author ? comment.author.username : 'Utilisateur inconnu' }} a écrit
        - {{ comment.content }}
        - le {{ comment.createdAt|date('d/m/Y') }}

    {% endfor %}

{% else %}
    Aucun commentaire pour le moment. Soyez le premier à commenter !
{% endif %}

{% if app.user and app.user.isVerified %}
    {{ form_start(commentForm, {'action': path('comment.create', {'id': tricks.id})}) }}

    {{ form_label(commentForm.content) }}
    {{ form_widget(commentForm.content, {'attr': {'class': 'form-control', 'rows': 4}}) }}
    {{ form_errors(commentForm.content) }}

    {{ form_end(commentForm) }}
{% else %}
    <p><a href="{{ path('login') }}">Connectez-vous pour commenter ce post.</a></p>
{% endif %}