{% extends 'base.html.twig' %}

{% block title "Édition de Tricks : " ~ tricks.title %}

{% block body %}
    <div class="example-wrapper">
        <h1>Modifications</h1>

        {{ form_start(editForm) }}

        <div>
            {{ form_label(editForm.title) }}
            {{ form_widget(editForm.title) }}
            {{ form_errors(editForm.title) }}
        </div>

        {% if tricks.thumbnail %}
            <img src="{{ vich_uploader_asset(tricks, 'thumbnailFile') }}" alt="preview" style="width: 80rem;">
        {% endif %}

        <div>
            {{ form_label(editForm.thumbnailFile) }}
            {{ form_widget(editForm.thumbnailFile) }}
            {{ form_errors(editForm.thumbnailFile) }}
        </div>

        <div>
            {{ form_label(editForm.content) }}
            {{ form_widget(editForm.content) }}
            {{ form_errors(editForm.content) }}
        </div>

        <div>
            <label>Images secondaires</label>
            <ul id="tricks-images-list" data-prototype="{{ form_widget(editForm.images.vars.prototype)|e }}">
                {% for image in tricks.images %}
                    <li>
                        <img src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="Image de la galerie" width="150">
                        <input type="file" name="existing_images_replace[{{ image.id }}]" />
                        <label>
                            <input type="checkbox" name="existing_images_delete[{{ image.id }}]" />
                        </label> Supprimer
                    </li>
                {% endfor %}
                {% for image in editForm.images %}
                    <li>{{ form_widget(image) }}</li>
                {% endfor %}
            </ul>
            <button type="button" class="btn btn-sm btn-success" id="add-image-btn">Ajouter une image</button>
        </div>

        <div>
            <label>Vidéos</label>
            <ul id="tricks-videos-list" data-prototype="{{ form_widget(editForm.videos.vars.prototype)|e }}">
                {% for video in tricks.videos %}
                    <li>
                        <div class="video-wrapper">
                            {% if 'youtube.com' in video.videoLink %}
                                {% set youtubeId = video.videoLink|split('v=')[1] %}
                                <iframe width="560" height="315"
                                        src="https://www.youtube.com/embed/{{ youtubeId }}"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        allowfullscreen></iframe>
                            {% elseif 'dailymotion.com' in video.videoLink %}
                                {% set dailymotionId = video.videoLink|split('/')|last %}
                                <iframe width="560" height="315"
                                        src="https://www.dailymotion.com/embed/video/{{ dailymotionId }}"
                                        allowfullscreen></iframe>
                            {% else %}
                                <p>Le format de la vidéo n'est pas supporté.</p>
                            {% endif %}
                            <label> Éditer
                                <input type="text" name="existing_videos_replace[{{ video.id }}]" value="{{ video.videoLink }}" />
                            </label>
                            <label>
                                <input type="checkbox" name="existing_videos_delete[{{ video.id }}]" />
                            </label> Supprimer
                        </div>
                    </li>
                {% endfor %}
                {% for video in editForm.videos %}
                    <li>{{ form_widget(video) }}</li>
                {% endfor %}
            </ul>
            <button type="button" class="btn btn-sm btn-success" id="add-video-btn">Ajouter une vidéo</button>
        </div>

        {{ form_end(editForm) }}
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let imageCollectionHolder = document.querySelector('#tricks-images-list');
            let addImageBtn = document.querySelector('#add-image-btn');

            addImageBtn.addEventListener('click', function () {
                let prototype = imageCollectionHolder.dataset.prototype;
                let index = imageCollectionHolder.children.length;
                let newForm = prototype.replace(/__name__/g, index);
                let newFormLi = document.createElement('li');
                newFormLi.innerHTML = newForm;
                imageCollectionHolder.appendChild(newFormLi);
            });

            let videoCollectionHolder = document.querySelector('#tricks-videos-list');
            let addVideoBtn = document.querySelector('#add-video-btn');

            addVideoBtn.addEventListener('click', function () {
                let prototype = videoCollectionHolder.dataset.prototype;
                let index = videoCollectionHolder.children.length;
                let newForm = prototype.replace(/__name__/g, index);
                let newFormLi = document.createElement('li');
                newFormLi.innerHTML = newForm;
                videoCollectionHolder.appendChild(newFormLi);
            });
        });
    </script>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
